@model IEnumerable<Soft_Product.Models.OrderDetail>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>UnitPrice</th>
            <th> Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice</td>
                <td>@item.Total</td>
                <td>@item.order</td>
            </tr>
        }
        </tbody>
</table>